.header{
    color: white;
    height: 92px;
    width: 100vw;
   background-color:  #222831;
   /* background-image: linear-gradient(black,teal); */
   border-bottom: solid 1px #29a19c;
   display: flex;
   align-items: center;

   position: relative;



}

.nav_links{
   display: flex;
   gap: 20px;

position: absolute;
left:25px
}
.linktext {
   color: white;
   text-decoration: none;
}

h1{
   text-shadow: 2px 4px 4px #29a19c;
}

.header h5 {
   cursor: pointer;
}


