.playlistCard {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 25%;
    padding: 10px;
    margin: 10px;
    overflow: hidden;
    color: white;
    font-size: 1rem;
    /* background-color: rgb(1, 108, 108); */
    background-color: rgba(1, 135, 135, 0.5);
  cursor: pointer;
  }
  
  .thumbnail {
    height: 70%;
    width: 80%;
    border-radius: 5px;
  }
  

  
  .title{
    
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    overflow: scroll;
  }
  

  
  @media screen and (max-width: 1180px) {
    .songcard {
      /* width: 33.33%; */
      height: 200px;
    }
    .thumbnail {
      height: 100%;
    }
  }
  @media screen and (max-width: 1024px) {
    .songcard {
      width: 33.33%;
      height: 200px;
    }
    .thumbnail {
      height: 100%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .songcard {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .songcard {
      width: 100%;
    }
  }