.songcard{
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 25%;
  /* height: 25%; */
  min-height: 50%;
  max-height: 50%;
    padding: 10px;
    margin: 10px;
    overflow: scroll;
    color: white;

    
}

.thumbnail{
    height: 50%;
    width: 50%;
    border: 1px solid black;
    border-radius: 5px;
}

.embed{
    gap: 10px;
    display: flex;
    justify-content: center;
flex-direction: column;

}

.popup_buttons{
display: flex;
justify-content:space-evenly;

}