

.controls {
    display: flex;
    cursor: pointer;
}
.controls :nth-child(5){
    width: 80px;
}

div.controls > *:hover {
    transform: scale(1.2);
}
div.controls > *:active {
   color: yellow;
 
}

@media (max-width:1200px) {
.window {
    transform: scale(0.8);
}
.controls {
    display: grid;
  
    grid-template-columns: repeat(3,1fr);
    
}

}
@media (max-width:800px) {
    .controls {
        grid-template-columns: repeat(3,0.3fr);
    }
    .window {
        transform: scale(0.7);
    }}